* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1;
}

body {
    font-family: sans-serif;
}

.page {
    min-height: 100vh;
}

.page .card {
    position: absolute;
    background-color: white;
    width: 300px;
    border-radius: 4px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* height: 400px; */
    z-index: 44;
    padding: 20px;
    box-shadow: 0 0 10px #878787 inset;
    text-align: center;
}

.page .card .above {
    background-color: rgb(16, 127, 225);
    height: 250px;
    border-radius: 4px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 46px;
}

.page .card h2 {
    margin: 20px 0 10px;
}

.page .card p {
    line-height: 1.3;
    font-size: 16px;
}

.page::before {
    content: '';
    position: fixed;
    background-color: rgb(16, 127, 225);
    left: 50%;
    top: 60%;
    transform: translateX(-50%) skew(0, -10deg);
    width: 300%;
    height: 100%;
    border-radius: 50%;
    animation: moving 3s ease-in-out infinite alternate;
    z-index: -1;
}

@keyframes moving {
    0% {
        transform: translateX(-50%) skew(0, -10deg);
    }

    100% {
        transform: translateX(-50%) skew(10deg, 0);
    }
}
